<div>

<div>
<b>Title:</b> <%= @auction.title %>
<br>
<br>
<b>Description:</b><%= @auction.description %>
<br>
<br>
Current Price: <%= @auction.price %>
<br>

AASM STATE: <%= @auction.aasm_state %>

</div>

<div>
  <h2>Bids</h2>
  <%= simple_form_for [@auction, @bid] do |f| %>
    <%= f.input :amount %>
    <%= f.submit %>
  <% end %>
</div>

<% @auction.bids.each do |bid| %>
<div id="bids">
bids:
<%= bid.amount %>
User id:<%= bid.auction.user_id %>
</div>
<% end %>


</div>
