<!DOCTYPE html>
<html>
<head>
  <title>Biddr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Sign-up", new_user_path %> |
<%= link_to "Sign-IN", new_session_path %> |
<%= link_to "Auction", new_auction_path %>

<%= yield %>

</body>
</html>
